/* spacing */
table {
    table-layout: fixed;
    width: 100%;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    color: black;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.75em;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

p {
    line-height:2;
}

div:has(pre){
    width:  100%;    
}

pre {
    width:  100%;
    overflow: auto;
    
}
