/* spacing */
table {
    table-layout: fixed;
    width: 100%;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

p {
    margin: 10px auto
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1 !important;
	margin: 0 !important;
	margin-top: 1.5rem !important;
	text-align: left !important;
	text-rendering: optimizeLegibility !important;
}

h1 { font-size: 1.25rem !important; }
h2 { font-size: 1.1rem !important; }
h3 { font-size: 1rem !important; }

h2 em, h3 em{
	color:grey !important;
}

/* @end */

small {
	font-size: 65% !important;
}

p {
	margin-top: .75rem !important;
}

hr {
	margin: .75rem 0 !important;
	opacity: .5 !important;
}

ol,ul {
	margin-top: .75rem !important;
	text-align: left !important;
}

ol ul, ol ol, ul ul, ul ol {
	margin-left: 2rem !important;
	margin-bottom: .75rem !important;
	text-align: left !important;
}

li {
	margin: .5em 0 !important;
}

abbr {
	font-variant: small-caps !important;
	font-weight: 600 !important;
	text-transform: lowercase !important;
	color: #808080;
}

body {
    text-align: left !important;
}
