/* spacing */
table {
    table-layout: auto;
    width: 100%;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    color: black;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #818583;
    color: white;
}

p {
    line-height:1.5;
}

div:has(pre){
    width:  100%;    
}

pre {
    width:  100%;
    overflow: auto;
    
}
